<header class="header" id="header">
    <div class="header_toggle" (click)="toggleClick()">
        <i class='bx bx-menu' id="header-toggle"></i>
    </div>
    <div class="header_img">
        <img src="https://i.imgur.com/hczKIze.jpg" alt="">
    </div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo">
                <i class='bx bx-layer nav_logo-icon'></i>
                <span class="nav_logo-name">BBBootstrap</span>
            </a>

            <div class="nav_list">

                <a href="#" class="nav_link active">
                    <i class='bx bx-grid-alt nav_icon'></i>
                    <span class="nav_name">Dashboard</span>
                </a>

                <div class="accordion">
                        <a href="#" name="classroom-group" class="nav_link" data-bs-toggle="collapse" data-bs-target="#user-classroom-group">
                            <i class='bx bxl-google nav_icon'></i>
                            <span class="nav_name">Google Classroom 
                                <i class = "fa fa-caret-down"></i>
                            </span>    
                        </a>
                        <div id="user-classroom-group" class="accordion-collapse collapse sub-sidebar">
                            <!-- <div class="accordion-body"> -->
                                <div class="nav-list-group">
                                    <a href="#" class="list-group-item-sidebar list-group-item-action">
                                        Courses
                                    </a>
                                    <a href="#" class="list-group-item-sidebar list-group-item-action">Coursework</a>
                                    <a href="#" class="list-group-item-sidebar list-group-item-action">A third link item</a>
                                    <a href="#" class="list-group-item-sidebar list-group-item-action">A fourth link item</a>
                                  </div>
                        </div>
                </div>

                <div class="accordion">
                    <a href="#" class="nav_link" data-bs-toggle="collapse" data-bs-target="#user-group">
                        <i class='bx bx-user nav_icon'></i>
                        <span class="nav_name">User
                            <i class = "fa fa-caret-down"></i>
                        </span>    
                    </a>
                    <div id="user-group" class="accordion-collapse collapse sub-sidebar">
                        
                            <div class="nav-list-group">
                                <a href="#" class="list-group-item-sidebar list-group-item-action">
                                    Courses
                                </a>
                                <a href="#" class="list-group-item-sidebar list-group-item-action">Coursework</a>
                                <a href="#" class="list-group-item-sidebar list-group-item-action">A third link item</a>
                                <a href="#" class="list-group-item-sidebar list-group-item-action">A fourth link item</a>
                              </div>
                    </div>
            </div>
                

                <a href="#" class="nav_link">
                    <i class='bx bx-folder nav_icon'></i>
                    <span class="nav_name">Assignment</span>
                </a>

                <a href="#" class="nav_link">
                    <i class='bx bx-message-square-detail nav_icon'></i>
                    <span class="nav_name">Messages</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-bookmark nav_icon'></i>
                    <span class="nav_name">Bookmark</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-folder nav_icon'></i>
                    <span class="nav_name">Files</span>
                </a>
                <a href="#" class="nav_link">
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                    <span class="nav_name">Stats</span>
                </a>
            </div>
        </div>
        <a href="#" class="nav_link">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">SignOut</span></a>
    </nav>
</div>
<!--Container Main start-->
<div class="height-100">
    <router-outlet></router-outlet>
</div>